<h2> Chefs: </h2>
<table class="chefs">
  <tr>
    <th>Name</th>
    <th>Location: Lat, Lon</th>
  </tr>
  <% @users.each do |chef|%>
    <tr>
      <td><%= link_to "#{chef.name}", '/'%></td>
      <td>   <%="#{chef.location_lat}, #{chef.location_lon}"%></td>
    </tr>
  <% end %>
</table>
