<table id="homepage_table">
  <tr>
    <th>Chef</th>
    <th>Location (lat)</th>
    <th>Location (lon)</th>
  </tr>
  <% @users.each do |chef|%>
    <tr>
      <td><%= link_to chef.name, '/' %></td>
      <td><%= chef.location_lat %></td>
      <td><%= chef.location_lon %></td>
    </tr>
  <% end %>
</table>
