<h2> Chefs: </h2>            
<table id="homepage_table">
  <tr>
    <th>Chef</th>
    <th>Location (lat)</th>
    <th>Location (lon)</th>
  </tr>
  <% @users.each do |chef|%>
    <tr>
      <td><%= link_to chef.name, '/' %></td>
      <td><%= sprintf("%.3f",chef.location_lat) %></td>
      <td><%= sprintf("%.3f",chef.location_lon) %></td>
    </tr>
  <% end %>
</table>
