<div class="bio-container">
  <h2 class="bio-chef"><%= @user.name %></h2>
  <br>
  <p class="bio-bio"> <%= @user.bio %> </p>
  <div class="portrait" style="background-image:url(<%= image_path(@user.avatar) %>)"></div>
</div>

