<div class="bio-container">
  <h2 class="bio-chef"><%= @user.name %></h2>
  <br>
  <p class="bio-bio"> <%= @user.bio %> </p>
  <div id="avatar">
    <%= image_tag("#{@user.avatar}") %>
  </div>

</div>
