<div class="chef-view">
   <h1><%= @user.name %></h1>
    <p class="bio"> <%= @user.bio %> </p>
</div>
<h1>Your skillsets</h1>
<div id="memberships">
  <ul>
    <% @user.cuisines.each do |cuisine| %>
      <li><%= cuisine.food %></li>
    <% end %>
  </ul>
</div>

