/* global */
*{
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat center bottom fixed url("food-background.jpeg");
  position: relative;
  background-size: cover; 
}

.content {
  text-align: center;
  margin-top: 0px;
  margin-left: 10px;
  line-height: 1.5;
  margin:auto;
  max-width:1000px;
  margin-top:100px;
  padding-top:15px;

}

/* header */
#header {
  position: fixed;
  z-index:100;
  height: 110px;
  width: 100%;
  border-bottom: 2px solid #000;
  background:#9EEDC6;
  opacity: 1;
  top:0px;
}

#header img {
  position: relative;
  display: inline-block;
  height: 120px;
  margin-top:-10px;
}

#header h1{
  position: fixed;
  display: inline-block;
  top: -30px;
  font-size: 5rem;
  font-family: Ubuntu;
  text-align: center;
}

nav{
  position: relative;
  display: inline;
}

.nav-links {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  float: right;
}

.nav-links a{
  text-decoration: none;
  padding: 0 10px;
  border-left: 1px solid #333;
  text-transform: uppercase;
  font-family: arial;
  z-index: 200;
}

/* divise */
.field{
  padding: 5px;
  
}

.actions{
  padding: 10px 0;
}

.devise-links a {
  text-decoration: none;
}

/* chefs */


/* Bio Style */

.chef-view {
  margin-left: 20px;
  h1 {
  font-size: 20px;
  margin-bottom: 20px;

  }

  p {
    width: 75%;
    font-size: 20px;
  }

  .portrait {
    border-radius: 100%;
    overflow: hidden;
    height: 250px;
    width: 250px;
    background-size: cover;
    float: right;
    margin-right: 60px;
    margin-top: -100px;
  }
}

/* Home Page */

.chef-container {  
  background-color: rgba(250,250,250, 0.6);
  h2 {
  display: inline-block;
  width: 200px;
  height: 40px;
  padding: 15px;


  }

  a {
  text-decoration: none;
  color: black;
}

div.thumbnail {
    border-radius: 50%;
    overflow: hidden;
    height: 75px;
    width: 75px;
    background-size: cover;
    float: left;
  }

}

/* map */

#mapid {
  height: 300px;
  width: 100%;
  position: left;
}
#home-map{
  height:50vh;
  width: 100% ;
  position:relative;
}

/* gallery */

.carousel{
  position:relative;
  width:600px;
  height:300px;
  overflow:hidden;
}

.carousel img{
  max-width:600px;
  position:absolute;
  top:0;
  left:0;
  opacity:0.0;
}

.carousel.fade img{
  transition: opacity 1s;
}

.carousel.slide img{
  transition: left 1s;
}

.carousel img.show{
  opacity:1.0;
}

.carousel img.left{
  opacity:1.0;
  left:-600px;
  z-index:1000;
}

.carousel img.centre{
  opacity:1.0;
  left:0px;
  z-index:10000;
}

.carousel img.right{
  opacity:1.0;
  left:600px;
  z-index:1000;
}

.carousel img.waiting{
  left:600px;
  opacity:0.0;
  z-index:100;
}

.carousel img.hidden{
  opacity:0.0;
}

.carousel .controls{
  position:absolute;
  width:100%;
  height:100%;
  padding:100px 0 0 0;
  z-index:10001;
}

.carousel .controls button{
  font-size:300%;
  background:transparent;
  border:none;
  display: none;
}

.carousel .controls .next{
  position:absolute;
  right:0;
}

.demo{
  font-size: 2.0rem;
}

#gallery{
  top: 450px;
  left: 300px;
  position: absolute;
  margin: auto;
  background-size: cover;
  height: 190px;
  opacity: 0.8;
}
