/* global */
*{
  margin: 0;
  padding: 0;
}
.content{
  margin-top: 10px;
  margin-left: 10px;
  line-height: 1.5;
}
/* header */
#header {
  position: relative;
  height: 110px;
  border-bottom: 2px solid #000;
}
#header img {
  position: relative;
  display: inline-block;
  height: 120px;
  margin-top:-10px;
}

#header h1{
  position: absolute;
  display: inline-block;
  top: 15px;
  font-size: 4.5rem;
  font-family: Ubuntu;
}
nav{
  position: relative;
  display: inline;
}
.nav-links {
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  float: right;
}
.nav-links a{
  text-decoration: none;
  padding: 0 10px;
  border-left: 1px solid #333;
  text-transform: uppercase;
  font-family: arial;
}

/* divise */
.field{
  padding: 5px;
}
.actions{
  padding: 10px 0;
}
.devise-links a {
  text-decoration: none;
}

/* chefs */

.chefs {
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
}

.chefs th{
  font-family: 'Rock Salt', cursive;
}
.chefs td{
  text-align: center;
}
td:first-child{
  text-align: left;
  padding-left: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    font-size: 1.3em;
}

table {
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 85%;
}

td {
  border-right: 5px solid black;
  text-align: center;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: white;
    background-color: black;
}

a {
  text-decoration: none;
}

/* Bio Style */

.bio-container{
  background: url(/app/assets/images/food-background.jpeg);
  background-repeat: no-repeat center center fixed;
  position: relative;
  background-size: cover;
}
