
.chefs {
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
}

.chefs th{
  font-family: 'Rock Salt', cursive;
}

.chefs td{
  text-align: center;
}

td:first-child{
  text-align: left;
  padding-left: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    font-size: 1.3em;
}

table {
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 85%;
}

td {
  border-right: 5px solid black;
  text-align: center;
}

table tr:nth-child(even) {
    background-color: #eee;
    opacity: 0.5;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    color: white;
    background-color: black;
}

a {
  text-decoration: none;
}

<!-- </table> -->
<!--   <td><%= sprintf("%.3f",chef.location_lat) %></td>
      <td><%= sprintf("%.3f",chef.location_lon) %></td>
      <td><%= chef.will_travel %></td> -->